@import "../common";

.profile-edit-wrapper {
  /*width: 75%;*/
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;

  .profile-edit-content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto 80px;
    padding-top: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
  }

  .profile-social-title {
    margin-bottom: 30px;
    h2 {
      color: #070707;
      font-size: 46px;
      font-family: "VegurB";
      margin-bottom: 20px;
    }
    p{
      color: #070707;
      font-family: "VegurEL";
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  .profile-edit-datum {
    width: 100%;
    padding: 5px 0;
    label {
      color: #070707;
      font-size: 20px;
      font-family: "VegurR";
      line-height: 2;
    }
    .profile-edit-control,
    .profile-edit-textarea {
      width: 100%;
      font-size: 20px;
      height: 40px;
      border: 1px solid #b2b2b2;
      padding: 0 10px;
      box-sizing: border-box;
      &:focus {
        border-color: #a6a6a6;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      }
    }
    .profile-edit-textarea {
      height: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .profile-edit-labels {
      display: flex;
      flex-wrap: wrap;
      span {
        font-size: 20px;
        padding: 8px 15px;
        border: 1px solid #b2b2b2;
        margin-right: 24px;
        margin-bottom: 20px;
        font-family: "VegurR";
        cursor: pointer;
        &:hover {
          color: #f0143c;
        }
        &.checked {
          color: #f0143c;
          border-color: #f0143c;
        }
      }
    }

    .add-label {
      display: flex;
      align-items: center;
      color: #b2b2b2;
      font-size: 20px;
      font-family: "VegurEL";
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: #868686;
        span {
          background-color: #868686;
        }
      }
      span {
        background-color: #b2b2b2;
        font-size: 18px;
        color: #fff;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        margin-right: 10px;
        transition: background-color 0.2s;
      }
    }

    .profile-edit-file {
      width: 124px;
      height: 38px;
      @include pr;
      text-align: center;

      span {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 38px;
        background-color: #b2b2b2;
        color: #fff;
        font-size: 20px;
        font-family: "VegurEL";
        border-radius: 5px;
        transition: background-color 0.2s;
      }
      input {
        width: 100%;
        height: 100%;
        overflow: hidden;
        @include pa;
        left: 0;
        top: 0;
        opacity: 0;
      }

      &:hover {
        span {
          background-color: #868686;
        }
      }
    }
  }

  .info-tips {
    height: px2rem(30px);
    line-height: px2rem(30px);
    margin-bottom: px2rem(6px);
    margin-top: px2rem(40px);
    font-family: "VegurR";
    font-size: px2rem(24px);
    color: #f0143c;
  }
  .info-sub {
    width: 360px;
    height: 70px;
    margin: 0 auto 80px;
    background-color: #f0143c;
    color: #fff;
    font-size: 28px;
    font-family: "VegurB";
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #f0282b;
    }
    &:active {
      transform: scale(0.99);
    }
    &.disabled,
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
      &:active {
        transform: scale(1);
      }
    }
  }
}

@media screen and (min-width: 1366px) and (max-width: 1599px) {
  .profile-edit-wrapper {
    .profile-edit-content {
      padding-top: 50px;
      margin-bottom: 50px;
    }

    .profile-social-title {
      margin-bottom: 25px;
      h2 {
        font-size: 42px;
        margin-bottom: 15px;
      }
      p{
        font-size: 23px;
      }
    }

    .profile-edit-datum {
      label {
        font-size: 18px;
        line-height: 1.6;
      }
      .profile-edit-control,
      .profile-edit-textarea {
        font-size: 18px;
      }
      .profile-edit-control {
        height: 36px;
      }
    }

    .info-sub {
      font-size: 24px;
      height: 60px;
      width: 300px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 1080px) and (max-width: 1365px) {
  .profile-edit-wrapper {
    .profile-edit-content {
      padding-top: 30px;
      margin-bottom: 50px;
    }

    .profile-social-title {
      margin-bottom: 25px;
      h2 {
        font-size: 40px;
        margin-bottom: 12px;
      }
      p{
        font-size: 22px;
      }
    }

    .profile-edit-datum {
      label {
        font-size: 18px;
        line-height: 1.6;
      }
      .profile-edit-control,
      .profile-edit-textarea {
        font-size: 18px;
      }
      .profile-edit-control {
        height: 36px;
      }
    }

    .info-sub {
      font-size: 24px;
      height: 60px;
      width: 300px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1079px) {
  .profile-edit-wrapper {
    .profile-edit-content {
      padding-top: 30px;
      margin-bottom: 50px;
    }

    .profile-social-title {
      margin-bottom: 25px;
      h2 {
        font-size: 40px;
        margin-bottom: 12px;
      }
      p{
        font-size: 22px;
      }
    }

    .profile-edit-datum {
      label {
        font-size: 18px;
        line-height: 1.6;
      }
      .profile-edit-control,
      .profile-edit-textarea {
        font-size: 18px;
      }
      .profile-edit-control {
        height: 36px;
      }
    }

    .info-sub {
      font-size: 24px;
      height: 60px;
      width: 300px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 751px) and (max-width: 899px) {
  .profile-edit-wrapper {
    .profile-edit-content {
      padding-top: 30px;
      margin-bottom: 50px;
    }

    .profile-social-title {
      margin-bottom: 25px;
      h2 {
        font-size: 38px;
        margin-bottom: 12px;
      }
      p{
        font-size: 20px;
        line-height: 1.35;
      }
    }

    .profile-edit-datum {
      label {
        font-size: 18px;
        line-height: 1.6;
      }
      .profile-edit-control,
      .profile-edit-textarea {
        font-size: 18px;
      }
      .profile-edit-control {
        height: 36px;
      }
    }

    .info-sub {
      font-size: 20px;
      height: 50px;
      width: 270px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 641px) and (max-width: 750px) {
  .profile-edit-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    .profile-edit-content {
      padding-top: px2rem(30px);
      margin-bottom: px2rem(40px);
    }

    .profile-social-title {
      margin-bottom: 25px;
      h2 {
        font-size: 38px;
        margin-bottom: 12px;
      }
      p{
        font-size: 20px;
        line-height: 1.35;
      }
    }

    .profile-edit-datum {
      label {
        font-size: 16px;
        line-height: 1.6;
      }
      .profile-edit-control,
      .profile-edit-textarea {
        font-size: 16px;
      }
      .profile-edit-control {
        height: 36px;
      }
    }

    .info-sub {
      font-size: 20px;
      height: 50px;
      width: 270px;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 640px) {
  .profile-edit-wrapper {
    padding-left: px2rem(40px);
    padding-right: px2rem(40px);
    .profile-edit-content {
      padding-top: px2rem(100px);
      margin-bottom: px2rem(80px);
    }

    .profile-social-title {
      margin-bottom: 25px;
      h2 {
        font-size: px2rem(52px);
        margin-bottom: px2rem(16px);
      }
      p{
        font-size: px2rem(32px);
        line-height: 1.35;
      }
    }

    .profile-edit-datum {
      label {
        font-size: 16px;
        line-height: 1.6;
      }
      .profile-edit-control,
      .profile-edit-textarea {
        font-size: 16px;
      }
      .profile-edit-control {
        height: 36px;
      }
    }

    .info-sub {
      font-size: 20px;
      height: 50px;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
